h2 {
	font-size: 30px;
}

#keyboard {
	height: 90px;
	display:flex;
	justify-content: center;
	position: fixed;
	top: 0;
    background-color: #bdbdbd;
    z-index: 1;    
	margin: 0 auto;
    width: 100%;
    border-bottom: solid black 1px;
    padding-bottom: 2px;
}

main {
	margin-top: 100px;
}

.octave {
	width: 175px;
    position: relative;
	height: 100%;
}

.white-keys {
	position:absolute;
	display:flex;
	height: 100%;
	width: 100%;
	background-color: white;
}

.black-keys {
	position:absolute;
	display:flex;
	z-index: 1;
	width: 100%;
}

.gap {
	width: calc(100%/7);
	height: 40px;
	display: inline-flex;
	user-select: none;
}

.black-key:first-of-type {
	margin-left: 18px;
}

.white-key {
	width: 25px;
	height: 100%;
	border: 1px solid black;
	display: inline-flex;
	user-select: none;
}

.black-key {
	width: 14px;
	height: 55px;
	border: 1px solid black;
	display: inline-flex;
	user-select: none;
	background-color: black;
	color: white;
	margin-left: 9px;
}

.key span {
	align-self: flex-end;
	margin: 0 auto;
}

.key:hover {
	background-color: yellow;
}

.key:hover:focus, .key:hover:active, .key.white-key--active {
	background-color: red;
}

.key.white-key--secondary {
	background-color: blue;
}

.center {
	width: 100%;
	text-align: center;
}

.button.play {
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent #202020;
  box-sizing: border-box;
  background-color: transparent;
  margin: 2em 0;
}

.button.pause {
  width: 74px;
  height: 74px;
  border-style: double;
  border-width: 0px 0px 0px 37px;
  border-color: #202020;
  background-color: transparent;
  margin: 2em 0;
}

.sheet-music {
  font-size: 0.4em;
  margin: auto;
  max-width: 144em;
  padding-left: 16em;
}

.bar {
  background-color: #ffffff;
  background-image: url("../images/components/stave.svg");
  background-size: auto 100%;
  background-repeat: repeat-x;
  float: left;
  height: 16em;
  position: relative;
  width: 32em;
}

.bar::after {
  background-color: transparent;
  background-image: url("../images/components/bar-line.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: " ";
  height: 16em;
  position: absolute;
  right: 0;
  width: 1em;
}

.combined-bar:last-of-type .bar::after {
	background-color: transparent;
    background-image: url("../images/components/bold-double-bar-line.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 16em;
    position: absolute;
    right: 0;
    width: 1.17em;
}

.combined-bar.combined-bar--active {
	background-color: khaki;
}

.bar .stave-header {
    background-color: #ffffff;
    background-size: auto 100%;
    height: 16em;
    left: -16em;
    position: absolute;
    width: 16em;
    z-index: -1;
}

.bar:first-child .stave-header {
    background-color: #ffffff;
}

[data-duration="{\"1m\": 1}"], [data-duration="1m"] {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 2em;
  justify-self: center;
  margin: 0 2.58em;
  width: 4em;
  position: relative;
}

[data-note="null"][data-duration="{\"1m\": 1}"], [data-note="null"][data-duration="1m"] {
  grid-column: span 16;
}

[data-note] {
	stroke: black;
}

.half-note-spacer {
    grid-column: span 4;
    width: auto;
}

.quarter-note-spacer {
    grid-column: span 2;
    width: auto;
}

.eighth-note-spacer {
    grid-column: span 2;
    width: auto;
}

.melody .active svg[data-note] {
	fill: red;
	stroke: red;
}

.bass .active svg[data-note] {
	fill: blue;
	stroke: blue;
}

.melody .edit svg[data-note], .bass .edit svg[data-note] {
	fill: orange;
	stroke: orange;
}

[data-duration="{\"4n\": 2}"], [data-duration="2n"] {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 2.58em;
  width: 2.83em;
  position: relative;
}

[data-duration="{\"4n\": 2}"]::after, [data-duration="2n"]::after {
	content: " ";
  grid-column: span 4;
  width: 4em;
}

[data-duration="{\"4n\": 1}"], [data-duration="4n"] {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 2.58em;
  width: 2.83em;
  position: relative;
}

[data-duration="{\"8n\": 1}"], [data-duration="8n"] {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 2;
  height: 16em;
  justify-self: center;
  margin: 0 0.58em;
  position: relative;
  width: 6.83em;
}

[data-note="null"][data-duration="{\"8n\": 1}"], [data-note="null"][data-duration="8n"]{
	width: 3.83em;
	transform: translate(0, 3.5em);
}

[data-note="null"][data-duration="{\"4n\": 1}"]{
	transform: translate(0, 0em);
}
               
[data-duration="{\"4n\": 1, \"8n\": 1}"], [data-duration="{\"4n\": 3}"], [data-duration="4n."], [data-duration="2n."] {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  float: left;
  grid-column: span 4;
  height: 16em;
  justify-self: center;
  margin: 0 1.58em;
  width: 4.83em;
  position: relative;
}

[data-duration="{\"4n\": 1, \"8n\": 1}"]::after, [data-duration="{\"4n\": 3}"]::after, [data-duration="4n."]::after, [data-duration="2n."]::after {
  content: " ";
  grid-column: span 2;
}

.melody svg[data-note="\[\"G6\"\]"] {
  transform: translate(0, -12em);
  position: absolute;
}

.melody svg[data-note="\[\"F6\"\]"] {
  transform: translate(0, -11em);
  position: absolute;
}

.melody svg[data-note="\[\"E6\"\]"] {
  transform: translate(0, -10em);
  position: absolute;
}

.melody svg[data-note="\[\"D6\"\]"] {
  transform: translate(0, -9em);
  position: absolute;
}

.melody svg[data-note="\[\"C6\"\]"] {
  transform: translate(0, -8em);
  position: absolute;
}

.melody svg[data-note="\[\"B5\"\]"] {
  transform: translate(0, -7em);
  position: absolute;
}

.melody svg[data-note="\[\"A5\"\]"] {
  transform: translate(0, -6em);
  position: absolute;
}

.melody svg[data-note="\[\"G5\"\]"] {
  transform: translate(0, -5em);
  position: absolute;
}

.melody svg[data-note="\[\"F5\"\]"] {
  transform: translate(0, -4em);
  position: absolute;
}

.melody svg[data-note="\[\"E5\"\]"] {
  transform: translate(0, -3em);
  position: absolute;
}

.melody svg[data-note="\[\"D5\"\]"] {
  transform: translate(0, -2em);
  position: absolute;
}

.melody svg[data-note="\[\"C5\"\]"] {
  transform: translate(0, -1em);
  position: absolute;
}

.melody svg[data-note="\[\"B4\"\]"] {
  transform: translate(0, 0);
  position: absolute;
}

.melody svg[data-note="\[\"A4\"\]"] {
  transform: translate(0, 1em);
  position: absolute;
}

.melody svg[data-note="\[\"G4\"\]"] {
  transform: translate(0, 2em);
  position: absolute;
}

.melody svg[data-note="\[\"F4\"\]"] {
  transform: translate(0, 3em);
  position: absolute;
}

.melody svg[data-note*="\"E4\""] {
  transform: translate(0, 4em);
  position: absolute;
}

.melody svg[data-note="\[\"D4\"\]"] {
  transform: translate(0, 5em);
  position: absolute;
}

.melody svg[data-note="\[\"C4\"\]"] {
  transform: translate(0, 6em);
  position: absolute;
}

.melody svg[data-note="\[\"B3\"\]"] {
  transform: translate(0, 7em);
  position: absolute;
}

.bass svg[data-note="\[\"D5\"\]"] {
  transform: translate(0, -14em);
  position: absolute;
}

.bass svg[data-note="\[\"C5\"\]"] {
  transform: translate(0, -13em);
  position: absolute;
}

.bass svg[data-note="\[\"B4\"\]"] {
  transform: translate(0, -12em);
  position: absolute;
}

.bass svg[data-note="\[\"A4\"\]"] {
  transform: translate(0, -11em);
  position: absolute;
}

.bass svg[data-note="\[\"G4\"\]"] {
  transform: translate(0, -10em);
  position: absolute;
}

.bass svg[data-note="\[\"F4\"\]"] {
  transform: translate(0, -9em);
  position: absolute;
}

.bass svg[data-note="\[\"E4\"\]"] {
  transform: translate(0, -8em);
  position: absolute;
}

.bass svg[data-note="\[\"D4\"\]"] {
  transform: translate(0, -7em);
  position: absolute;
}

.bass svg[data-note="\[\"C4\"\]"] {
  transform: translate(0, -6em);
  position: absolute;
}

.bass svg[data-note="\[\"B3\"\]"] {
  transform: translate(0, -5em);
  position: absolute;
}

.bass svg[data-note="\[\"A3\"\]"] {
  transform: translate(0, -4em);
  position: absolute;
}

.bass svg[data-note="\[\"G3\"\]"] {
  transform: translate(0, -3em);
  position: absolute;
}

.bass svg[data-note="\[\"F3\"\]"] {
  transform: translate(0, -2em);
  position: absolute;
}

.bass svg[data-note*="\"E3\""] {
  transform: translate(0, -1em);
  position: absolute;
}

.bass svg[data-note="\[\"D3\"\]"] {
  transform: translate(0, 0em);
  position: absolute;
}

.bass svg[data-note*="\"C3\""] {
  transform: translate(0, 1em);
  position: absolute;
}

.bass svg[data-note="\[\"B2\"\]"] {
  transform: translate(0, 2em);
  position: absolute;
}

.bass svg[data-note="\[\"A2\"\]"] {
  transform: translate(0, 3em);
  position: absolute;
}

.bass svg[data-note="\[\"G2\"\]"] {
  transform: translate(0, 4em);
  position: absolute;
}

.bass svg[data-note="\[\"F2\"\]"] {
  transform: translate(0, 5em);
  position: absolute;
}

.bass svg[data-note="\[\"E2\"\]"] {
  transform: translate(0, 6em);
  position: absolute;
}

.bass svg[data-note="\[\"D2\"\]"] {
  transform: translate(0, 7em);
  position: absolute;
}


[data-note="null"][data-duration="{\"1m\": 1}"], [data-note="null"][data-duration="1m"]{
	transform: translate(0, -1em);
}


@supports (display: grid) {
  .sheet-music {
    display: grid;
  }

  .bar {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 100%;
  }
  
  [data-duration="{\"4n\": 1}"] {
    margin: 0;
  }
}

@media (min-width: 576px) {

  .combined-bar .bar::first-of-type {
    margin-bottom: 0em;
    margin-top: 2em;
  }
  
  .combined-bar .bar {
    margin-bottom: 6em;
    margin-top: 0em;
  }

  @supports (display: grid) {
    .sheet-music {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 768px) {
  
  .combined-bar .bar {
    margin-bottom: 6em;
    margin-top: 0em;
  }

  .combined-bar .bar::first-of-type {
    margin-bottom: 0em;
    margin-top: 3em;
  }

  .combined-bar .bar:last-of-type {
    margin-bottom: 9em;
  }

  @supports (display: grid) {
    .sheet-music {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 992px) {
  @supports (display: grid) {
    .sheet-music {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1200px;
    }
  }
}

@media (min-width: 1200px) {
  @supports (display: grid) {
    .sheet-music {
      max-width: 1200px;
    }
  }
}